[submodule "odin-c-bindgen"]
	path = odin-c-bindgen
  ; url = https://github.com/karl-zylinski/odin-c-bindgen.git
	url = https://github.com/Truc4/odin-c-bindgen.git
	branch = bitwise-macro
[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs.git
